const path = require("path")
module.exports = {
    "dbPath": path.resolve(__dirname, "movie.db"),
    "fshareLogin": {
        "username": "your email",
        "password": "password",
        "hashed": true
    },
    "downloadFolderPath": path.resolve(__dirname, "downloads"),
    "afterDownloadMovePath": "",
    "downloaderOptions": {
        "maxConnections": 16,
        "forceMultipleConnections": true
    }
}